<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>添加品牌</title>

</head>
<body>
<div id="app">
    <h3>添加品牌</h3>
    <form action="" method="post">
        品牌名称：<input id="brandName" v-model="brand.brandName" name="brandName"><br>
        企业名称：<input id="companyName" v-model="brand.companyName" name="companyName"><br>
        排序：<input id="ordered" v-model="brand.ordered" name="ordered"><br>
        描述信息：<textarea rows="5" cols="20" id="description" v-model="brand.description"
                       name="description"></textarea><br>
        状态：
        <input type="radio" name="status" v-model="brand.status" value="0">禁用
        <input type="radio" name="status" v-model="brand.status" value="1">启用<br>

        <input type="button" id="btn" @click="addBrand()" value="提交">
    </form>
</div>


<script src="js/axios-0.18.0.js"></script>
<script src="js/vue.js"></script>
<script>

    new Vue({

        el: "#app",
        data() {
            return {
                brand: {}
            }
        },

        mounted() {
        },

        methods: {

            addBrand() {
                console.log("hhhh");
                var _this = this;
                axios({
                    method: "post",
                    url: "http://localhost:8080/vue/addServlet",
                    data: _this.brand
                }).then(function (response) {
                    if (response.data === "success") {
                        location.href = "http://localhost:8080/vue/brand.html"
                    }
                })

            }
        }
    })

</script>


</body>
</html>