<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    namespace:名称空间 必须对应接口的全限定名
-->


<mapper namespace="com.example.mapper.BrandMapper">

    <resultMap id="brandResultMap" type="brand">

        <result column="brand_name" property="brandName"></result>
        <result column="company_name" property="companyName"></result>
    </resultMap>
    <insert id="add">


        insert into tb_brand values (null,#{brandName},#{companyName},#{ordered},#{description},#{status});

    </insert>
    <update id="updateById">
        update tb_brand set
        brand_name=#{brandName},company_name=#{companyName},ordered=#{ordered},description=#{description},status=#{status}
        where id = #{id};

    </update>

    <delete id="deleteByIds">

        delete from tb_brand where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>


    </delete>


</mapper>